<div class="row">
<div class="col">
</div>
<div class="col">
<h4>

<button (click)="onPlus()">Sumar +5 </button>
<p>Contador: {{counter}} </p>
<button (click)="onsubtract()">Restar -5 </button></h4>
</div>
</div>
<!--<h1>{{title}}</h1>-->

<!--<h3>La base es: {{base}}</h3>-->

<!--<button (click) = "acumular(base)">+{{base}}</button>-->
<!--<button (click) = "sumar()">+1</button>-->
<!--<span> {{numero}} </span>-->

<!-- <button (click) = "acumular(-base)">-{{base}}</button> -->
<!--<button (click) = "restar()">-1</button>-->

